:root {
	--teal: #75E6DA;
	--green: #003F38;
	--pink: #AE1586;
	--grey: #E8F3F1;
}

body {
	background-color: black;
	padding-left: 15%;
	padding-right: 15%;
}

.container {
	background-color: var(--grey);
	color: var(--pink);
	padding: 5%;
	font-size: 30px;
	display: flex;
  justify-content: center;
}

td {
	padding-left: 20px;
	padding-right: 20px;
}

#right-border {
	border-right: 2px solid black;
}

#left-border {
	border-left: 2px solid black;
}