:root {
	--teal: #75E6DA;
	--green: #003F38;
	--pink: #AE1586;
	--grey: #E8F3F1;
}

body {
	background-color: black;
	padding-left: 15%;
	padding-right: 15%;
}

header {
	text-align: center;
	background: var(--green);
	color: var(--teal);
	font-size: 50px;
}

.container {
	background-color: var(--grey);
	color: var(--pink);
	padding: 5%;
}

.container h1 {
	text-align: center;
}

.form-item {
	text-align: center;
	margin: 5px 0;
	padding-left: 25%;
	padding-right: 25%;
}

footer {
	text-align: center;
	background: var(--green);
	color: var(--grey);
	font-size: 20px;
	white-space: pre-line;
}